#minfo-description {
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    left: 0%;
    top: 60%;
    border-style: none;
    width: 30%;
    padding: 20px;
}

#minfo-button {
    position: absolute;
    left: 8%;
    top: 55%;
    border-style: double;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-style: ridge;
    padding: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
